body{
    margin:0px;
    padding:0px;
    background-color:#EEE!important;
  }
  .form{
    height:auto;
    padding-bottom:10px;
    background-color:#fff;
    margin-top:-65px;
    border-radius: 48px;
    box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
  }
  
